<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicons -->
    <link rel="icon" href="/static/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
    <link rel="manifest" href="/static/site.webmanifest">

    <title>Cyberhunt</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <header>
        <nav>
            <h1>Cyberhunt</h1>
            <div>
                <a href="leaderboard">Leaderboard</a>
                <button id="logout">Logout</button>
            </div>
        </nav>
    </header>
    <main>
        <div>
            
        </div>
    </main>
    <footer>
        <p>© 2025 Cyberhunt</p>
    </footer>
    <script></script>
</body>

</html>